.idea/

###> symfony/framework-bundle ###
manager/.env
manager/.env.local.php
manager/.env.*.local
manager/config/secrets/prod/prod.decrypt.private.php
manager/public/bundles/
manager/var/
manager/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
manager/bin/.phpunit/
manager/phpunit.xml
manager/.phpunit.result.cache
###< symfony/phpunit-bridge ###
